<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Заявки на кредит</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
    {% for app in applications %}
        <tr>
            <td>{{ app.id }}</td>
            <td>{{ app.name }}</td>
            <td>{{ app.phone }}</td>
            <td>{{ app.email }}</td>
            <td>{{ app.amount }}</td>
            <td>{{ app.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>